.cameraDiv{
    text-align: center;
}
.title{
    text-align: center;
}
.complete{
    text-align: center;
}
.canvasDiv{
    text-align: center !important;
}
body{
    text-align: center !important;
}
